body{
	background-color: #f7f4f4;
	font-family: Calibri;
}

#BR{
	padding-top: 2px;
	text-align: center;
}

.T1 span{
	padding-left: 10px;
}	

#Khung1{
	float: right;
	width: 80%;
	height: 1200px;
	border:2px solid: #686761;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	color: #686761;
}

.Top{
	padding-top: 10px;
	width: 100%;
	height: 65px;
	background-color: white;
}
.VN{
	padding-top: 18px;
	width: 10%;
	float: right;
}
.VN1{
	padding-top: 10px;
	width: 10%;
	float: right;
}


.K0{	
	width: 100%;
	height: 60px;
}

.K00{
	width: 75%;
	height: 1200px;
	padding-left: 40px;
}

.K1{
	padding-top: 10px;
	width:85%;
    height:1100px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	background-color:white;
    font-size: 17px;
    border-color: #f9f9f9;
    border-style: groove;
}

.Top1{
	padding-top: 20px;
	padding-bottom: 40px;
}

.Top2{
	margin: auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: #8080f7;	
  	border:2px solid #8080f7;
    width:190px;
    height:22px;
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
 }
 
.K2{
	padding-top: 20px;
	width: 88%;
	height: 60px;
	padding-left: 12%;
	color: #7f7f7f;
}
.K3{
	width: 44%;
	float: left;
}

.K4{
	width: 56%;
	float: right;
}
.ND{
	padding-left: 12%;
	padding-top: 20px;
	width: 88%;
	height: 250px;
}

.CD{
	padding-left: 12%;
	padding-top: 20px;
	width: 77%;
}

.Hop{
	font-size: 19px;
	width: 450px;
	height: 30px;
}

.Hop1{
	font-size: 17px;
	width: 210px;
	height: 30px;
}
.Hop2{
	font-size: 19px;
	width: 218px;
	height:36px;
}

